node_modules/
.pnpm-store/
.turbo/
dist/
coverage/
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*

# Logs
*.log

# Go artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Environment files
.env
.env.*
!.env.example

# Editor / IDE
.idea/
.DS_Store

.agents/*
!.agents/.gitkeep
.claude/*
!.claude/.gitkeep

storage/.cache/**
!storage/.cache/
!storage/.cache/.gitkeep

storage/.turbo/**
!storage/.turbo/
!storage/.turbo/.gitkeep
